@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

$Poppins : 'Poppins', sans-serif;

//colors
$primaryBg : #ffffff;
$secondryBg : #fff9de;
$popupBg: #b2afa1;
$buttonBg: #69665c;
$study: #d1e5f7;
$family: #daf2d6;
$entertainment : #ffcece;
$work : #d2ecff;
$text: #69665c;

//box
$boxShadow : 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
$borderRadius : 12px;