@import './../styles/variables.scss';

.tasks{
    width: 100%;
    min-height: 100%;
    
    
    &__container{
        align-content: flex-start;
        justify-content: flex-start;
        align-items: baseline;
        display: flex;
        flex-flow: row wrap;
        min-height: 0; 
    }

}